/*
Theme Name: Keltas-Theme
Company: CreativePartner
Version: 1.0
*/

.warn-info-container {
	max-width: 1360px;
	margin: auto;
}

.warn-info-block {
	background: #FFED00;
	height: 40px;
	width: 100%;
	position: relative;
	top: 0;
	line-height: 2.5;
	overflow: hidden;
}

.warn-info-block svg {
	margin-top: 7px;
	margin-left: -32px;
	position: absolute;
}

.close-button-container {
	position: absolute;
	margin-top: 5px;
	right: 0;
}

#close-button {
	cursor: pointer;
}

.header {
	margin-bottom: -40px;
	margin-top: 40px;
}

.header-navigation-top {
	display: inline-block;
	padding: 16px 0 0 0;
	text-align: center;
}

.menu-item-has-children {
	padding-right: 7px !important;
}

.top-menu-mobile-top {
	width: 100%;
	height: 100%;
	position: absolute;
}

.hidden-main-menu-mobile {
	display: none;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	background: #ffffff;
}

.hidden-main-menu-mobile i {
	font-size: 50px;
	color: #00518B;
	position: absolute;
	right: 0;
	margin-right: 5%;
	margin-top: 42px;
	z-index: 99999999;
}

.header-navigation-top li {
	float: left;
	font-size: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	line-height: 23px;
	list-style: none;
	font-family: "Neusa Bold", sans-serif;
	font-weight: 800;
	padding: 6px 0;
	border: 3px solid transparent;
}

.header-navigation-top li a {
	color: #ffffff;
	padding: 10px;
	text-decoration: none;
}

.header-navigation-top li:hover {
	/*background: #FFED00;*/
}

.inside-page {
	margin: auto;
	max-width: 1420px !important;
	padding: 50px 0 !important;
}

.top-menu-container {
	padding: 0;
}

.extra-info-mobile {
	display: none !important;
}

.extra-info-mobile-2 {
	display: none;
	position: absolute;
	top: 40px;
	left: 40px;
	padding: 0;
}

.extra-info-mobile-2 i {
	margin: 0;
}

.top-menu-mobile-2 {
	display: none;
	position: absolute;
	top: 100px;
	left: 40px;
	z-index: 9999999;
}

.close-mobile-navigation {
	color: #0053A1 !important;
}

.menu-main-mobile {
	display: none;
	margin-left: 50px;
}

.menu-main-mobile i {
	font-size: 50px;
	color: #ffffff;
}

.menu-main-mobile ul.sub-menu {
	display: none;
}

.menu-main-mobile li.menu-item-has-children a:after {
	color: #00518B !important;
	content: '\f107';
	font-size: 20px;
	margin-left: -2px;
	font-family: "Font Awesome\ 5 Free", sans-serif;
	padding: 10px;
	z-index: 9999;
}

.menu-main-mobile li.menu-item-has-children ul a:after {
	content: none !important;
}

.menu-main-mobile li.menu-item-has-children:hover ul.sub-menu {
	display: block;
}

.header-navigation-top .download-file {
	margin-left: 0 !important;
}

.download-file {
	margin-left: 20px;
}

.information-container .download-file:before {
	content: "";
	background: url('assets/svg/download.svg') no-repeat;
	display: inline;
	width: 25px;
	height: 25px;
	margin-left: -20px;
	position: absolute;
}

.information-container .h1, .information-container h1 {
	margin: 0;
	padding: 20px 0;
	font-family: "Neusa Bold", sans-serif;
	line-height: 51px;
	font-size: 48px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	width: 100%;
}

.information-container .h2, .information-container h2 {
	margin: 0;
	padding: 20px 0;
	font-family: "Neusa Bold", sans-serif;
	line-height: normal;
	font-size: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
}

.information-container .h3, .information-container h3 {
	margin: 0;
	padding: 20px 0;
	font-family: "Neusa Bold", sans-serif;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	width: 100%;
}

.information-container .h4, .information-container h4 {
	margin: 0;
	padding: 20px 0;
	font-family: "Neusa Bold", sans-serif;
	line-height: normal;
	font-size: 17px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	width: 100%;
}

.information-container .h5, .information-container h5 {
	margin: 0;
	padding: 20px 0;
	font-family: "Neusa Bold", sans-serif;
	line-height: normal;
	font-size: 16px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	width: 100%;
}

.information-container .h6, .information-container h6 {
	margin: 0;
	padding: 20px 0;
	font-family: "Neusa Bold", sans-serif;
	line-height: normal;
	font-size: 15px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	width: 100%;
}

.information-container ul {
	list-style: none;
	white-space: normal;
	margin: 0;
}

.information-container ul.children {
	margin-left: 15px;
}

.information-container ul li::before {
	content: "• ";
	font-size: 18px;
	color: #C2DEF2;
}

.information-container ol {
	counter-reset: item;
	margin-left: 12px;
}

.information-container ol li {
	display: block;
	font-size: 18px;
}

html:lang(ru-RU) .information-container ol li  {
	font-family: 'Future New Cond';
}

.information-container ol li:before {
	content: counter(item) ". ";
	counter-increment: item;
	color: #C2DEF2;
	margin-left: -12px;
	font-weight: 700;
}

.information-container li {
	font-family: "Effra Light", sans-serif;
}

.information-container b, .information-container p {
	font-family: "Effra Light", sans-serif;
}

html:lang(ru-RU) .information-container b, .information-container p {
	font-family: 'Future New Cond';
}

html:lang(ru-RU) .information-container b, .information-container strong p {
	font-family: "Neusa Bold", sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.information-container b, .information-container strong {
	font-family: "Effra Light", sans-serif;
}

.information-container table {
	border: 1px solid transparent;
}

.information-container table tr {
	font-family: "Effra Light", sans-serif;
}

.information-container table thead tr td {
	border: 1px solid transparent;;
	border-bottom: 2px solid #C2DEF2;
}

html:lang(ru-RU) .information-container table tbody tr td {
	font-family: 'Future New Cond';
}

.information-container table tbody tr td {
	border: none;
	border-top: 1px solid #C2DEF2;
}

.information-container p {
	font-family: "Effra Light", sans-serif;
}

.information-container a {
	font-family: "Effra Light", sans-serif;
	line-height: 25px;
	font-size: 18px;
	color: #288CCD;
	display: inline-block;
}

.information-container div {
	font-family: "Effra Light", sans-serif;
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 18px;
}

.information-container article {
	/*white-space: pre-wrap;*/
}

.entry-content {
	font-family: "Effra Light", sans-serif;
	font-size: 18px;
}

.table-container tbody tr:nth-child(even) {
	/*background: #EDF8FF !important;*/
	background: #fafafa !important;
}

.table-container strong {
	font-family: "Neusa Bold", sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.table-container strong p {
	font-family: "Neusa Bold", sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.table-container strong span {
	font-family: "Neusa Bold", sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.cc_btn {
	margin-top: 9px;
	background: #288CCD !important;
	color: #ffffff !important;
}

.svg-icon {
	float: left;
	padding: 0 30px 0 0;
}

.svg-icon svg {
	width: 22px;
}

.svg-icon a:hover svg path {
	fill: #FFED00 !important;
}

.extra-info {
	display: inline-block;
	padding: 0 0 30px 0;
	margin-top: -10px;
	text-align: center;
}

.language-switcher {
	float: right;
}

.language-switcher ul.header-navigation-top {
	margin-top: 4px;
}

.top-menu-mobile-2 .language-switcher {
	margin-top: 17px;
}

.language-switcher ul li.lang-item {
	list-style: none;
	float: left;
	font-size: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	line-height: 23px;
	font-family: "Neusa Bold", sans-serif;
	font-weight: 800;
	padding: 6px 0;
	color: #0053A1;
}

.language-switcher ul li.lang-item a {
	padding: 10px;
	color: #0053A1;
	text-transform: uppercase;
}

.mobile-hidden-info {
	display: block;
}

.ferry-transport img {
	max-width: 187px;
}

.social-icon {
	float: left;
	padding: 30px 0;
	margin-left: 50px;
}

.social-icon svg {
	font-size: 24px;
	fill: #ffffff;
	margin: 0 10px;
}

.social-icon svg path {
	font-size: 24px;
	fill: #ffffff;
}

.social-icon a:hover {
	text-decoration: none;
}

.social-icon svg:hover {
	fill: #FFED00 !important;
}

.social-icon svg:hover path {
	fill: #FFED00 !important;
}

.extra-info .short-number {
	font-family: "Neusa Bold", sans-serif;
	font-size: 48px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	font-weight: 800;
	float: left;
}

.short-number-icon {
	float: left;
	margin-top: 30px;
	margin-left: 10px
}

.extra-info .short-number a {
	color: #ffffff;
	text-decoration: none;
}

.extra-info .short-number a:hover {
	color: #FFED00 !important;
}

.front-image {
	width: 100%;
	height: 600px;
	background: url('assets/images/front-image.jpg') no-repeat;
	background-size: cover;
	background-position-y: 95%;
}

.slideshow-container {
	width: 100%;
	height: 100%;
	max-height: 847px;
	min-height: 180px;
	overflow: hidden;
	top: 100px;
}

.scroll-indicator {
	position: absolute;
	bottom: 2%;
	z-index: 999;
	right: 50%;
}

.shadow-header {
	background: linear-gradient(180deg, #082941 0%, rgba(0, 81, 139, 0) 100%);
	opacity: 0.6;
	width: 100%;
	height: 320px;
	position: absolute;
	z-index: -1;
	box-shadow: none !important;
}

.header-image {
	height: 240px;
	width: 100%;
	margin-top: 100px;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.header-logo-text {
	font-family: "Neusa Bold", sans-serif;
	line-height: normal;
	font-size: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-weight: 700;
	color: #00518B;
	margin-left: 95px;
}

.header-logo-text p {
	font-family: "Neusa Bold", sans-serif;
	line-height: normal;
	font-size: 24px;
}

.header-logo {
	height: 60px;
	float: left;
	width: 330px;
	margin-top: -25px;
	padding-left: 15px;
}

.header-container-fixed {
	background: transparent;
	position: fixed;
	width: 100%;
	z-index: 10000;
	top: 0;
}

.header-container-navigation {
	max-width: 1530px !important;
	margin: auto !important;
}

.title {
	font-family: "Neusa Bold", sans-serif;
	line-height: 51px;
	font-size: 48px;
	text-transform: uppercase;
	color: #00518B;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.sm-2-title {
	font-family: "Neusa Bold", sans-serif;
	line-height: 51px;
	font-size: 22px;
	text-transform: uppercase;
	color: #00518B;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.search-title {
	font-family: 'Effra Light', sans-serif;
	line-height: 51px;
	font-size: 20px;
	font-weight: 900;
	color: #00518B;
	letter-spacing: 0.05em;
	line-height: 1.5;
	margin-bottom: 20px;
}

.search-container-block {
	margin-top: 200px
}

.sm-title {
	font-family: "Neusa Bold", sans-serif;
	line-height: 51px;
	font-size: 20px;
	text-transform: uppercase;
	color: #00518B;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.mid-sidebar-title {
	font-family: "Neusa Bold", sans-serif;
	line-height: 51px;
	font-size: 36px;
	text-transform: uppercase;
	color: #00518B;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.mid-title {
	font-family: "Neusa Bold", sans-serif;
	line-height: 51px;
	font-size: 36px;
	text-transform: uppercase;
	color: #00518B;
	font-weight: 700;
	letter-spacing: 0.05em;
	/*margin-left: 10px;*/
}

.big-title {
	font-family: "Neusa Bold", sans-serif;
	line-height: 76px;
	font-size: 72px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	/*margin-left: 10px;*/
}

.simple-info {
	font-family: 'Effra Light', sans-serif;
	line-height: 25px;
	font-size: 18px;
	margin-bottom: 0 !important;
}

.contacts-container a {
	color: #288CCD;
}

.costs-table-container {
	border-bottom: 3px solid #C2DEF2;;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.find-us-container {
	overflow: hidden;
}

.find-us-container .sm-title{
	padding: 10px 0 0 0;
}

.contact-people {
	border-top: 3px solid #C2DEF2;
	border-bottom: 3px solid #C2DEF2;
	padding: 40px 0;
	margin: 40px 0;
}

.contact-people .contact-title {
	min-height: 50px;
}

.contact-short-number {
	margin-top: -12px;
}

.contact-short-number p {
	font-size: 14px;
}

.contact-short-number a {
	font-family: "Neusa Bold", sans-serif;
	color: #00518B;
	font-size: 50px;
	letter-spacing: 4.5px;
	text-transform: uppercase;
}

.contact-short-number a:hover {
	color: #FFED00;
	text-decoration: none;
}

.contacts-left-block {
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.contact-image {
	padding: 0 0 20px 0;
	max-width: 150px;
	max-height: 165px;
	height: 165px;
}

.contact-title {
	font-family: "Neusa Bold", sans-serif;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	margin-bottom: 9px !important;
}

html:lang(ru-RU) .contact-title {
	font-family: "Neusa Bold", sans-serif;
}

html:lang(en-US) .contact-title {
	font-family: "Neusa Bold", sans-serif;
}

.number-text {
	font-family: "Neusa Bold", sans-serif;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 5px;
	width: 120px;
	color: #00518B;
}

html:lang(ru-RU) .number-text {
	font-family: "Neusa Bold", sans-serif;
}

html:lang(en-US) .number-text {
	font-family: "Neusa Bold", sans-serif;
}

.contact-info {
	font-family: 'Effra Light', sans-serif;
	line-height: 25px;
	font-size: 18px;
	margin-bottom: 3px;
}

.contact-block {
	margin-bottom: 20px !important;
	min-width: 200px;
}

.contact-block a {
	font-family: "Effra Light", sans-serif;
	line-height: 25px;
	font-size: 18px;
	color: #288CCD;
}

.page-image-title-container {
	margin-top: 480px;
	position: absolute;
	z-index: 999;
}

.page-image-title {
	font-family: "Neusa Bold", sans-serif;
	line-height: 101px;
	font-size: 96px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0 4px 200px rgba(0, 0, 0, 0.5);
	width: 50%;
	padding: 0 0 0 30px;
}

.form-background {
	background: #F5F5F5;
	padding: 25px 25px 5px 25px;
}

.form-background input {
	border: 1px solid #C2DEF2 !important;
	box-sizing: border-box;
	border-radius: 3px !important;
}

.form-background textarea {
	border: 1px solid #C2DEF2 !important;
	box-sizing: border-box;
	border-radius: 3px !important;
}

.form-background label {
	font-family: 'Effra Light', sans-serif;
	line-height: 25px;
	font-weight: 400;
	font-size: 18px;
	width: 100%;
}

html:lang(ru-RU) .form-background label {
	font-family: 'Future New Cond';
	font-size: 20px;
}

.collapsing {
	-webkit-transition: none;
	transition: none;
	display: none;
}

.wpcf7-form-control-wrap input {
	height: 44px;
}

.form-background input[type="submit"] {
	font-family: "Neusa Bold";
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #288CCD;
}

.form-background input[type="submit"]:hover {
	background: #FFED00;
	color: #00518B;
}

.week-days-tabs-container {
	/*background: #EDF8FF;*/
	background: #ffffff;
	border: 6px solid #00518B;
}

.week-days-tabs-container button {
	font-family: "Neusa Bold", sans-serif;
	line-height: normal;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.0511em;
	text-transform: uppercase;
	color: #00518B;
	padding: 15px 0;
	border-radius: 0;
	min-width: 201.1px;
	width: 100%;
}

.card-body {
	padding: 0 !important;
}

.schedule-info-collapse-button {
	background: transparent;
	color: #00518B;
	font-family: "Neusa Bold", sans-serif;
	font-size: 18px !important;
	font-weight: bold !important;
	border: 3px solid #00518B !important;
	margin: 0;
}

.schedule-info-collapse-button:hover {
	background: transparent;
	color: #00518B;
	box-shadow: none !important;
}

.schedule-info-block {
	margin-right: 30px !important;
}

.schedule-info-mobile {
	display: none;
}

.schedule-top {
	margin-top: 20px;
}

.schedule-bottom {
	margin-top: 50px;
}

.week-days-tabs-container a {
	text-decoration: none !important;
}

.week-days-tabs-container button:hover {
	background: #00518B;;
	color: #ffffff;
}

.hour-class {
	font-family: "Neusa Bold", sans-serif;
	line-height: 39px;
	font-size: 28px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
}

.minute-class {
	font-family: "Neusa Bold", sans-serif;
	line-height: 39px;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	position: relative;
	display: inline-block;
	transform: translate(6px, -7px);
}

.schedule-time {
	font-family: "Neusa Bold", sans-serif;
	line-height: 39px;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	border-bottom: 2px solid #C2DEF2;
	width: 120px;
}

.ati {
	color: #e2283a;
}

.tab-active {
	background: #00518B !important;
	color: #ffffff !important;
}

.tab-active::after {
	content: "";
	position: absolute;
	top: 100%;
	width: 0;
	height: 0;
	left: 0;
	right: 0;
	margin-left: 70px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 20px solid #00518B;
	clear: both;
}

.schedule-top {
	border-bottom: 3px solid #00518B;
	padding: 40px 0;
}

.weather-container {
	float: left;
}

.weather-container span {
	line-height: 20px;
	font-size: 14px;
	color: #ffffff;
	font-family: 'Effra Light', sans-serif;
	margin-left: 2px;
	padding-left: 8px;
}

.sidebar-container {
	background: #ffffff;
	border: 6px solid #00518B;
	box-sizing: border-box;
	padding: 25px;
	overflow: hidden;
}

.archive-filter-link {
	font-family: "Neusa Bold", sans-serif;
	text-transform: uppercase;
	color: #00518B;
	font-weight: 700;
	line-height: 33px;
	font-size: 20px;
	letter-spacing: 0.05em;
}

.archive-filter-link:hover {
	text-decoration: none;
}

.archive-filter-block {
	list-style: none;
}

.archive-filter-block li:hover {
	background: #F5F5F5;
}

.lightbox-image {
	width: 100% !important;
	height: 100% !important;
	min-width: 600px;
}

.filter-link-active {
	color: #00518B;
	font-weight: 800;
}

.filter-link-active:before {
	content: "\f105";
	color: #00518B !important;
	font-family: "Font Awesome\ 5 Free", sans-serif;
	margin-right: 10px;
	font-size: 25px;
}

.archive-filter-link:before {
	content: "\f105";
	color: #00518B;
	font-family: "Font Awesome\ 5 Free", sans-serif;
	margin-right: 10px;
	font-size: 25px;
}

/* Slider */
.slider-button {
	display: none !important;
}

.slider-button .left {

}

.slider-button .right {

}

/* Destination Map Content classes */
.contact-map {
	width: 100%;
	height: 400px;
	margin-top: 20px;
}

.row-part-bottom {
	border-top: 3px solid #EDF8FF;
}

#destination-map {
	height: 539px;
	/*width: 375px;*/
	width: 100%;
}

.destination-container {
	margin: auto;
	max-width: 1530px;
	/*max-width: 1920px;*/
	width: 100%;
	height: 550px;
	overflow: hidden;
}

.destination-klaipeda-container {
	width: 280px;
	float: left;
	margin-right: 5px;
	padding: 40px 10px 0 40px;
}

.destination-smiltyne-container {
	width: 460px;
	float: left;
	margin-right: 5px;
	padding: 40px 10px 0 40px;
}

.destination-direction-container {
	width: 390px;
	float: left;
	padding: 40px 10px 0 40px;
}

.destination-schedule-container {
	background: #FFFFFF;
	height: 280px;
	width: 286px;
	float: left;
	padding: 5px 10px 0 40px;
	border-right: 3px solid #EDF8FF;
}

.destination-costs-container {
	background: #FFFFFF;
	height: 280px;
	width: 270px;
	float: left;
	padding: 5px 10px 0 40px;
	border-right: 3px solid #EDF8FF;
}

.destination-costs p {
	margin-bottom: 0;
	width: 120px;
}

.destination-costs span{
	float: right;
	font-family: "Neusa Bold", sans-serif;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	right: 12px;
	position: absolute;
}

.destination-info-container {
	background: #FFFFFF;
	height: auto;
	width: 500px;
	float: left;
	padding: 5px 10px 0 40px;
	padding-bottom: 40px;
}

.destination-title {
	font-size: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: "Neusa Bold", sans-serif;
	color: #00518B;
	font-weight: 700;
	padding-bottom: 15px;
	margin-top: 20px;
}

.destination-check {
	float: left;
}

.departure-time-big {
	font-family: "Neusa Bold", sans-serif;
	font-size: 48px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	padding: 0;
	font-weight: 800;
}

.departure-time-small {
	font-family: "Neusa Bold", sans-serif;
	font-size: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	padding: 5px 18px 5px 0;
	font-weight: 800;
}

.departure-time-small:after {
	height: 8px;
	width: 8px;
	background: #C2DEF2;
	content: "";
	border-radius: 24px;
	position: absolute;
	margin-top: 10px;
	margin-left: 5px;
}

.departure-time span:nth-child(4):after {
	content: none;
}

.departure-time span:last-child:after {
	content: none;
}

#direction {
	width: 100%;
}
/* End of Destination Map Content classes */

/* Radio button select classes */
.see-more-link {
	font-family: "Neusa Bold", sans-serif;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #288CCD;
	font-weight: 800;
	padding: 8px 8px;
	margin-left: -8px;
}

.see-more-link:hover {
	background: #FFED00;
	text-decoration: none;
}

.see-more-link i:before {
	padding-right: 5px;
}

.see-more-container {
	position: absolute;
	bottom: 0;
}

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 27px;
	margin-bottom: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 200px;
}

.checkbox-container label {
	font-size: 21px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #288CCD;
	font-family: "Neusa Bold", sans-serif;
	cursor: pointer;
	padding-left: 8px;
}

.form-background .checkbox-container label {
	font-size: 15px;
	letter-spacing: 0.05em;
	color: #288CCD;
	font-family: "Neusa Bold", sans-serif;
	cursor: pointer;
}

html:lang(ru-RU) .form-background .checkbox-container label {
	font-family: "Neusa Bold", sans-serif;
	font-size: 15px;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: none;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background: #FFFFFF;
	border: 3px solid #C2DEF2;
	box-sizing: border-box;
	border-radius: 50%;
}

.checkbox-container:hover input ~ .checkmark {
	background: #FFFFFF;
	border: 3px solid #00518B;
	box-sizing: border-box;
}

.checkbox-container input:checked ~ .checkmark {
	background-color: #00518B;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.privacy-consent-container {
	width: 100%;
	height: 35px;
}

.consent-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background: #FFFFFF;
	border: 3px solid #C2DEF2;
	box-sizing: border-box;
	border-radius: 50%;
}

.consent-checkmark-after {
	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	border: 3px solid #C2DEF2;
	border-radius: 50%;
	background: #00518B;
	position: absolute;
	display: none;
}

.consent-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

.checkbox-container .checkmark:after {
	top: 5.5px;
	left: 5.5px;
	width: 8px;
	height: 7px;
	border-radius: 50%;
	background: white;
}
/* End of Radio button select classes */

/* Select option classes */
.destination-direction {
	position: relative;
	width: 330px;
	height: 70px;
	border: 3px solid #C2DEF2;
	box-sizing: border-box;
}

.destination-direction select {
	display: none;
}

.select-selected {
	background: #FFFFFF;
}

.select-selected.select-arrow-active:after {
	border-color: transparent transparent #000 transparent;
	top: 7px;
}

.select-items div,.select-selected {
	padding: 16px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

.same-as-selected {
	display: none !important;
}

.select-items {
	position: absolute;
	background: #FFFFFF;
	left: 0;
	right: 0;
	margin-left: -3px;
	margin-right: -3px;
	z-index: 99;
	border: 3px solid #C2DEF2;
	box-sizing: border-box;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3), 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.select-selected, .select-items {
	font-size: 20px;
	text-transform: uppercase;
	font-family: "Neusa Bold", sans-serif;
	font-weight: 700;
	z-index: 100;
	color: #288CCD;
}

.select-items div:nth-child(2) {
	background: #EDF8FF;
}

.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}
/* End of Select option classes */

.transport svg {
	display: none;
}

.top-footer {
	background: #00518B;
	padding: 40px 30px;
}

.bottom-footer {
	background: #00518B;
	padding: 40px 30px;
	margin: auto;
	overflow: hidden;
}

html:lang(ru-RU) .bottom-footer p {
	font-size: 17px;
	color: #87b5d6;
	margin: 0;
}

.bottom-footer p {
	font-size: 14px;
	color: #87b5d6;
	margin: 0;
}

.footer-container-background {
	background: #00518B;
}

.footer-container-top {
	padding: 0;
	max-width: 1530px;
	margin: auto;
}

.wpcf7-validation-errors, .wpcf7-mail-sent-ok, .wpcf7-response-output  {
	border: none !important;
}

.ferry-info-footer {
	margin-top: -5px;
}

.button-contact-us, .button-contact-us:focus {
	width: 180px;
	height: 100px;
	background: #288CCD;
	color: #D9EFFF;
	font-size: 20px;
	font-family: "Neusa Bold", sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
}

.button-contact-us:hover {
	background: #FFED00;
	color: #00518B;
}

.button-report, .button-report:focus {
	width: 280px;
	height: 100px;
	background: #288CCD;
	color: #D9EFFF;
	font-size: 20px;
	font-family: "Neusa Bold", sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
}

.button-report i {
	color: #D9EFFF;
}

.button-report:hover {
	background: #FFED00;
	color: #00518B;
}

.button-report:hover i {
	color: #00518B;
}

.footer-question {
	width: 120px;
}

.creative-partner a:hover svg path {
	fill: #FFED00;
}

.creative-partner span {
	color: #87b5d6;
	margin-right: 5px;
	float: left;
	font-size: 14px;
}

.location-address {
	width: 120px;
}

.location-address a {
	color: #87b5d6;
}

.location-address i {
	color: #ffffff;
}

.location-address a:hover {
	color: #FFED00;
	text-decoration: none;
}

.location-address a:hover i {
	color: #FFED00;
}

.port-address {
	margin: 0;
}

html:lang(ru-RU) .port-address a {
	font-size: 18px;
}

.port-address a {
	line-height: 20px;
	font-size: 14px;
	color: #87b5d6;
}


.port-address a:hover i {
	color: #FFED00;
}

.port-address a:hover {
	color: #FFED00;
	text-decoration: none;
}

.schedule-port-address {
	margin: 0;
}

.schedule-port-address i {
	margin-right: 5px;
}

.schedule-port-address a {
	line-height: 20px;
	font-size: 18px;
	color: #87b5d6;
}

.schedule-port-address a:hover i {
	color: #FFED00;
}

.schedule-port-address a:hover {
	color: #FFED00;
	text-decoration: none;
}

.port-cordinates {
	line-height: 20px;
	font-size: 14px;
	color: #87b5d6;
	margin: 0;
}

.port-open-hours {
	line-height: 20px;
	font-size: 14px;
	color: #87b5d6;
	margin: 0;
}

.post-thumbnail {
	margin-bottom: 1em;
	/*max-width: 262px;*/
}

.post-thumbnail a img {
	-webkit-backface-visibility: hidden;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.post-thumbnail a:hover img, .post-thumbnail a:focus img {
	opacity: 0.7;
}

.post-thumbnail-no-thumbnail {
	width: 262px;
	height: 190px;
}

.post-date {
	font-family: "Neusa Bold", sans-serif;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-align: right;
	text-transform: uppercase;
	color: #00518B;
	font-weight: 800;
	width: 30px;
	position: absolute;
	line-height: normal;
	right: 12px;
}

.post-date-full {
	font-family: "Neusa Bold", sans-serif;
	font-size: 18px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #00518B;
	font-weight: 800;
	line-height: normal;
	right: 12px;
}

.news-articles {
	justify-content: space-around;
}

.news-container-title {
	padding: 30px 0;
}

.news-container-block {
	box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.06);
	overflow: hidden;
	width: 100%;
	margin-top: -10px;
}

.news-article {
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 350px;
	margin-left: -25px !important;
}

.front-news-container {
	width: 70%;
	justify-content: center;
}

.front-news-container .news-article {
	margin-left: 0 !important;
}

.news-container {
	margin-top: 20px;
}

.news-article:hover {
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.news-post-thumbnail-full {
	max-width: 400px;
	margin-bottom: 1em;
}

i {
	color: #288CCD;
}

.port-name {
	line-height: 21px;
	font-size: 16px;
	color: #D9EFFF;
	font-weight: 700;
	max-width: 250px;
}

.email-address {
	margin-top: 18px;
	line-height: 25px;
	margin-bottom: 0;
}

.email-address a {
	font-size: 18px;
	color: #D9EFFF;
}

.email-address a:hover {
	color: #FFED00;
	text-decoration: none;
}

.footer-short-number {
	margin: 0;
}

.footer-short-number a {
	font-family: "Neusa Bold", sans-serif;
	color: #C2DEF2;
	font-size: 70px;
	letter-spacing: 0.05em;
	line-height: 0.7;
	text-transform: uppercase;
}

.footer-short-number a:hover {
	color: #FFED00;
	text-decoration: none;
}

.footer-question-text {
	font-size: 45px;
	color: #C2DEF2;
	letter-spacing: 0.05em;
	font-weight: 800;
	font-family: "Neusa Bold", sans-serif;
	text-transform: uppercase;
}

.certificates img {
	max-height: 150px;
}

.all-news-link {
	padding-left: 470px;
}

.all-news-link a {
	line-height: normal;
	font-size: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: "Neusa Bold", sans-serif;
	color: #288CCD;
	font-weight: 700;
	padding: 8px;
}

.all-news-link a:hover {
	background: #FFED00;
	text-decoration: none;
}

.mobile-application-title {
	width: 150px;
}

.mobile-app-container {
	width: 25%;
	padding: 0 0 0 50px;
	margin-left: 115px !important;
	margin-top: -75px;
}

.mobile-app-text {
	width: 130px;
	float: left;
}

.mobile-app-text p {
	font-size: 14px;
}

.mobile-app-svg {
	float: left;
	padding: 5px 5px;
}

.mobile-app-svg-white {
	float: left;
	padding: 5px 0;
	padding-right: 5px;
}

.mobile-app-svg-white img {
	border: 2px solid black;
	border-radius: 5px;
	min-width: 130px;
}

p, span {
	font-family: 'Effra Light', sans-serif;
	font-weight: 400;
}

div:lang(ru-RU) span.wpcf7-not-valid-tip {
	font-family: 'Future New Cond';
	font-size: 20px;
}

div:lang(en-US) span.wpcf7-not-valid-tip {
	font-family: 'Effra Light', sans-serif;
	font-size: 18px;
}

html:lang(ru-RU) p, span {
	font-family: 'Future New Cond';
	font-size: 20px;
}

html:lang(en-US) p, span {
	font-family: 'Effra Light', sans-serif;
}

.read-more {
	font-family: "Neusa Bold", sans-serif;
	font-size: 14px;
	margin-left: 15px;
	text-transform: uppercase;
}

.read-more-2 a {
	font-family: "Neusa Bold", sans-serif;
	font-size: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	position: absolute;
	margin-top: 10px;
	border-bottom: 3px solid #FFED00;
	padding-bottom: 4px;
}

.read-more-2 a:hover {
	background: #FFED00;
	text-decoration: none;
	padding: 8px 8px;
	margin-left: -8px;
}

.read-more-2 a span i {
	color: white;
}

.read-more-2 a:hover span i {
	color: #00518B !important;
}

.news-title {
	font-family: 'Effra Light', sans-serif !important;
	font-weight: 600 !important;
	width: 230px !important;
	line-height: 24px !important;
	font-size: 18px !important;
	color: #288CCD !important;
	margin: 0 !important;
	padding: 0 !important;
	text-transform: inherit !important;
}

.news-title a {
	color: #288CCD;
}

.news-title-full {
	font-family: 'Effra Light', sans-serif !important;
	font-weight: 600 !important;
	line-height: 24px !important;
	font-size: 18px !important;
	color: #288CCD !important;
	margin: 0 !important;
	padding: 0 !important;
	text-transform: inherit !important;
}

.news-title-full a {
	color: #288CCD;
}

footer {
	width: 100%;
}

.footer-address {
	padding: 0 30px !important;
}

.footer-business {
	padding: 0 60px !important;
}

.footer-copyright {
	padding: 0 0 0 50px! important;
}

.footer-copyright p {
	width: 120px;
}

.banner {
	margin: auto;
	width: 100%;
}

.banner-content {
	width: 100%;
	height: auto;
	top: 150px !important;
	max-width: 1470px;
	position: relative;
	margin: auto;
}

.banner-back-gradient {
	background: linear-gradient(180deg, #7193BC 0%, #93B8DA 100%);
	width: 100%;
	height: 403px;
	position: absolute;
	margin-top: 126px;
	z-index: -1;
}

.banner-main-image {
	background: url(assets/images/nida-2.png);
	height: 515px;
	margin: auto;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: bottom !important;
	overflow: hidden;
}

.banner-slogan {
	font-family: "Neusa Bold", sans-serif;
	line-height: 1.2;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 250px;
	float: left;
	margin-top: 50px;
	font-size: 45px;
	font-weight: 800;
}

html:lang(ru-RU) .banner-text {
	font-family: 'Future New Cond';
	font-size: 22px;
}

.banner-text {
	font-family: 'Effra Light', sans-serif;
	line-height: 25px;
	font-size: 18px;
	color: #FFFFFF;
	float: left;
	position: absolute;
	width: 300px;
	margin-top: 30px;
	margin-left: 400px;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: "Neusa Bold", sans-serif;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: 1px #767676 dotted;
	text-decoration: none;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: 700;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #eee;
	color: #222;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #bbb;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}


/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
4.0 Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.nav-links:before,
.nav-links:after,
.pagination:before,
.pagination:after,
.comment-author:before,
.comment-author:after,
.widget-area:before,
.widget-area:after,
.widget:before,
.widget:after,
.comment-meta:before,
.comment-meta:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
.pagination:after,
.comment-author:after,
.widget-area:after,
.widget:after,
.comment-meta:after {
	clear: both;
}

/*--------------------------------------------------------------
5.0 Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: #333;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.66;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	line-height: 1.4;
	margin: 0 0 0.75em;
	padding: 1.5em 0 0;
	font-family: "Neusa Bold", sans-serif;
	font-weight: 700;
	color: #00518B;

}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	padding-top: 0;
}

h1 {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 300;
}

h2,
.home.blog .entry-title {
	color: #666;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
}

h3 {
	color: #333;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 300;
}

h4 {
	color: #333;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 800;
}

h5 {
	color: #767676;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 800;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

h6 {
	color: #333;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: 800;
}

p {
	font-size: 18px;
	margin: 0 0 1.5em;
	padding: 0;
}

blockquote {
	color: #666;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.7;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

blockquote cite {
	display: block;
	font-style: normal;
	font-weight: 600;
	margin-top: 0.5em;
}

address {
	margin: 0 0 1.5em;
}

big {
	font-size: 125%;
}

blockquote {
	quotes: "" "";
}

q {
	quotes: "“" "”" "‘" "’";
}

blockquote:before, blockquote:after {
	content: "";
}

:focus {
	outline: none;
}

/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/

label {
	color: #333;
	display: block;
	font-weight: 800;
	margin-bottom: 0.5em;
}

fieldset {
	margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: #FFFFFF;
	border: 3px solid #C2DEF2;
	border-radius: 3px;
	display: block;
	padding: 0.7em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #222;
	border: 3px solid #C2DEF2;
}

select {
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 3em;
	max-width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	font-weight: 400;
}

button,
input[type="button"],
input[type="submit"] {
	background-color: #222;
	border: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1;
	padding: 1em 2em;
	text-shadow: none;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}

input + button,
input + input[type="button"],
input + input[type="submit"] {
	padding: 0.75em 2em;
}

button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
	background-color: #ddd;
	color: #222;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #767676;
}

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
	background: #bbb;
}

/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

hr {
	background-color: #bbb;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
8.0 Lists
--------------------------------------------------------------*/

ul,
ol {
	margin: 0 0 1.5em;
	padding: 0;
}

ul {
	list-style: disc;

}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/*--------------------------------------------------------------
9.0 Tables
--------------------------------------------------------------*/

table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thead th {
	border-bottom: 2px solid #bbb;
	padding-bottom: 0.5em;
}

th {
	padding: 0.4em;
	text-align: left;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	padding: 0.4em;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/

a {
	color: #222;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	color: #000;
	outline: 0;
}

/* Hover effects */

.entry-content a,
.entry-summary a,
.comment-content a,
.widget a,
.site-footer .widget-area a,
.posts-navigation a,
.widget_authors a strong {
	-webkit-box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	-webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

.entry-title a,
.entry-meta a,
.page-links a,
.page-links a .page-number,
.entry-footer a,
.entry-footer .cat-links a,
.entry-footer .tags-links a,
.edit-link a,
.post-navigation a,
.logged-in-as a,
.comment-navigation a,
.comment-metadata a,
.comment-metadata a.comment-edit-link,
.comment-reply-link,
a .nav-title,
.pagination a,
.comments-pagination a,
.site-info a,
.widget .widget-title a,
.widget ul li a,
.site-footer .widget-area ul li a,
.site-footer .widget-area ul li a {
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 1);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 1);
	text-decoration: none;
	-webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

.entry-content a:focus,
.entry-content a:hover,
.entry-summary a:focus,
.entry-summary a:hover,
.comment-content a:focus,
.comment-content a:hover,
.widget a:focus,
.widget a:hover,
.site-footer .widget-area a:focus,
.site-footer .widget-area a:hover,
.posts-navigation a:focus,
.posts-navigation a:hover,
.comment-metadata a:focus,
.comment-metadata a:hover,
.comment-metadata a.comment-edit-link:focus,
.comment-metadata a.comment-edit-link:hover,
.comment-reply-link:focus,
.comment-reply-link:hover,
.widget_authors a:focus strong,
.widget_authors a:hover strong,
.entry-title a:focus,
.entry-title a:hover,
.entry-meta a:focus,
.entry-meta a:hover,
.page-links a:focus .page-number,
.page-links a:hover .page-number,
.entry-footer a:focus,
.entry-footer a:hover,
.entry-footer .cat-links a:focus,
.entry-footer .cat-links a:hover,
.entry-footer .tags-links a:focus,
.entry-footer .tags-links a:hover,
.post-navigation a:focus,
.post-navigation a:hover,
.pagination a:not(.prev):not(.next):focus,
.pagination a:not(.prev):not(.next):hover,
.comments-pagination a:not(.prev):not(.next):focus,
.comments-pagination a:not(.prev):not(.next):hover,
.logged-in-as a:focus,
.logged-in-as a:hover,
a:focus .nav-title,
a:hover .nav-title,
.edit-link a:focus,
.edit-link a:hover,
.site-info a:focus,
.site-info a:hover,
.widget .widget-title a:focus,
.widget .widget-title a:hover,
.widget ul li a:focus,
.widget ul li a:hover {
	color: #000;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
}

/* Fixes linked images */
.entry-content a img,
.comment-content a img,
.widget a img {
	-webkit-box-shadow: 0 0 0 8px #fff;
	box-shadow: 0 0 0 8px #fff;
}

.post-navigation a:focus .icon,
.post-navigation a:hover .icon {
	color: #222;
}

/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/

.navigation-top {
	background: #fff;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	font-size: 16px;
	font-size: 1rem;
	position: relative;
}

.navigation-top .wrap {
	max-width: 1000px;
	padding: 0;
}

.navigation-top a {
	color: #222;
	font-weight: 600;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.navigation-top .current-menu-item > a,
.navigation-top .current_page_item > a {
	color: #767676;
}

.main-navigation {
	clear: both;
	display: block;
}

.main-navigation ul {
	background: #fff;
	list-style: none;
	margin: 0;
	padding: 0 1.5em;
	text-align: left;
}

/* Hide the menu on small screens when JavaScript is available.
 * It only works with JavaScript.
 */

.js .main-navigation ul,
.main-navigation .menu-item-has-children > a > .icon,
.main-navigation .page_item_has_children > a > .icon,
.main-navigation ul a > .icon {
	display: none;
}

.main-navigation > div > ul {
	border-top: 1px solid #eee;
	padding: 0.75em 1.695em;
}

.js .main-navigation.toggled-on > div > ul {
	display: block;
}

.main-navigation ul ul {
	padding: 0 0 0 1.5em;
}

.main-navigation ul ul.toggled-on {
	display: block;
}

.main-navigation ul ul a {
	letter-spacing: 0;
	padding: 0.4em 0;
	position: relative;
	text-transform: none;
}

.main-navigation li {
	border-bottom: 1px solid #eee;
	position: relative;
}

.main-navigation li li,
.main-navigation li:last-child {
	border: 0;
}

.main-navigation a {
	display: block;
	padding: 0.5em 0;
	text-decoration: none;
}

.main-navigation a:hover {
	color: #767676;
}

/* Menu toggle */

.menu-toggle {
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #222;
	display: none;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	line-height: 1.5;
	margin: 1px auto 2px;
	padding: 1em;
	text-shadow: none;
}

/* Display the menu toggle when JavaScript is available. */

.js .menu-toggle {
	display: block;
}

.main-navigation.toggled-on ul.nav-menu {
	display: block;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.menu-toggle:focus {
	outline: thin solid;
}

.menu-toggle .icon {
	margin-right: 0.5em;
	top: -2px;
}

.toggled-on .menu-toggle .icon-bars,
.menu-toggle .icon-close {
	display: none;
}

.toggled-on .menu-toggle .icon-close {
	display: inline-block;
}

/* Dropdown Toggle */

.dropdown-toggle {
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #222;
	display: block;
	font-size: 16px;
	right: -0.5em;
	line-height: 1.5;
	margin: 0 auto;
	padding: 0.5em;
	position: absolute;
	text-shadow: none;
	top: 0;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background: transparent;
}

.dropdown-toggle:focus {
	outline: thin dotted;
}

.dropdown-toggle.toggled-on .icon {
	-ms-transform: rotate(-180deg); /* IE 9 */
	-webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
	transform: rotate(-180deg);
}

/* Scroll down arrow */

.site-header .menu-scroll-down {
	display: none;
}

/*--------------------------------------------------------------
13.0 Layout
--------------------------------------------------------------*/

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #fff;
}

#page {
	position: relative;
	word-wrap: break-word;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	padding-left: 2em;
	padding-right: 2em;
}

.wrap:after {
	clear: both;
	content: "";
	display: block;
}

/*--------------------------------------------------------------
13.4 Posts
--------------------------------------------------------------*/

/* Post Landing Page */

.sticky {
	position: relative;
}

.post:not(.sticky) .icon-thumb-tack {
	display: none;
}

.sticky .icon-thumb-tack {
	display: block;
	height: 18px;
	left: -1.5em;
	position: absolute;
	top: 1.65em;
	width: 20px;
}

.page .panel-content .entry-title,
.page-title,
body.page:not(.twentyseventeen-front-page) .entry-title {
	color: #222;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	letter-spacing: 0.14em;
	text-transform: uppercase;
}

.entry-header .entry-title {
	margin-bottom: 0.25em;
}

.entry-title a {
	color: #333;
	text-decoration: none;
	margin-left: -2px;
}

.entry-title:not(:first-child) {
	padding-top: 0;
}

.entry-meta {
	color: #767676;
	font-size: 11px;
	font-size: 0.6875rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	padding-bottom: 0.25em;
	text-transform: uppercase;
}

.entry-meta a {
	color: #767676;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.pagination,
.comments-pagination {
	border-top: 1px solid #eee;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	padding: 2em 0 3em;
	text-align: center;
}

.pagination .icon,
.comments-pagination .icon {
	width: 0.666666666em;
	height: 0.666666666em;
}

.comments-pagination {
	border: 0;
}

ul.page-numbers li {
	list-style: none;
	float: left;
	background: #288CCD;
	margin-left: 5px;
}

.page-numbers {
	color: #D9EFFF;
	font-size: 18px !important;
	font-family: "Neusa Bold", sans-serif;
	padding: 0.5em 0.75em;
}

.page-numbers.current {
	font-size: 18px !important;
	font-family: "Neusa Bold", sans-serif;
	padding: 0.5em 0.75em;
	background: #EDF8FF;
	color: #00518B;
}

.page-numbers:hover {
	color: #ffffff !important;
}

.page-numbers.current .screen-reader-text {
	clip: auto;
	height: auto;
	overflow: auto;
	position: relative !important;
	width: auto;
}

.prev.page-numbers,
.next.page-numbers {
	background-color: #ddd;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1;
	padding: 0.25em 0.5em 0.4em;
}

.prev.page-numbers,
.next.page-numbers {
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.prev.page-numbers:focus,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.next.page-numbers:hover {
	background-color: #767676;
	color: #fff;
}

.prev.page-numbers {
	float: left;
}

.next.page-numbers {
	float: right;
}

/* Aligned blockquotes */

.entry-content blockquote.alignleft,
.entry-content blockquote.alignright {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
	width: 48%;
}

/* Blog landing, search, archives */

.blog .site-main > article,
.archive .site-main > article,
.search .site-main > article {
	padding-bottom: 2em;
}

body:not(.twentyseventeen-front-page) .entry-header {
	padding: 1em 0;
}

body:not(.twentyseventeen-front-page) .entry-header,
body:not(.twentyseventeen-front-page) .entry-content,
body:not(.twentyseventeen-front-page) #comments {
	margin-left: auto;
	margin-right: auto;
}

body:not(.twentyseventeen-front-page) .entry-header {
	padding-top: 0;
}

.blog .entry-meta a.post-edit-link,
.archive .entry-meta a.post-edit-link,
.search .entry-meta a.post-edit-link {
	color: #222;
	display: inline-block;
	margin-left: 1em;
	white-space: nowrap;
}

.search .page .entry-meta a.post-edit-link {
	margin-left: 0;
	white-space: nowrap;
}

.taxonomy-description {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
}

/* More tag */

.entry-content .more-link:before {
	content: "";
	display: block;
	margin-top: 1.5em;
}

/* Single Post */

.single-post:not(.has-sidebar) #primary,
.page.page-one-column:not(.twentyseventeen-front-page) #primary,
.archive.page-one-column:not(.has-sidebar) .page-header,
.archive.page-one-column:not(.has-sidebar) #primary {
	margin-left: auto;
	margin-right: auto;
	max-width: 740px;
}

.single-featured-image-header {
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
}

.single-featured-image-header img {
	display: block;
	margin: auto;
}

.page-links {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	padding: 2em 0 3em;
}

.page-links .page-number {
	color: #767676;
	display: inline-block;
	padding: 0.5em 1em;
}

.page-links a {
	display: inline-block;
}

.page-links a .page-number {
	color: #222;
}

/* Entry footer */

.entry-footer {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin-top: 2em;
	padding: 2em 0;
}

.entry-footer .cat-links,
.entry-footer .tags-links {
	display: block;
	font-size: 11px;
	font-size: 0.6875rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	padding-left: 2.5em;
	position: relative;
	text-transform: uppercase;
}

.entry-footer .cat-links + .tags-links {
	margin-top: 1em;
}

.entry-footer .cat-links a,
.entry-footer .tags-links a {
	color: #333;
}

.entry-footer .cat-links .icon,
.entry-footer .tags-links .icon {
	color: #767676;
	left: 0;
	margin-right: 0.5em;
	position: absolute;
	top: 2px;
}

.entry-footer .edit-link {
	display: inline-block;
}

.entry-footer .edit-link a.post-edit-link {
	background-color: #222;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	margin-top: 2em;
	padding: 0.7em 2em;
	-webkit-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	white-space: nowrap;
}

.entry-footer .edit-link a.post-edit-link:hover,
.entry-footer .edit-link a.post-edit-link:focus {
	background-color: #767676;
}

/* Post Formats */

.blog .format-status .entry-title,
.archive .format-status .entry-title,
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.format-quote blockquote {
	color: #333;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 300;
	overflow: visible;
	position: relative;
}

.format-quote blockquote .icon {
	display: block;
	height: 20px;
	left: -1.25em;
	position: absolute;
	top: 0.4em;
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	width: 20px;
}

/* Post Navigation */

.post-navigation {
	font-weight: 800;
	margin: 3em 0;
}

.post-navigation .nav-links {
	padding: 1em 0;
}

.nav-subtitle {
	background: transparent;
	color: #767676;
	display: block;
	font-size: 11px;
	font-size: 0.6875rem;
	letter-spacing: 0.1818em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.nav-title {
	color: #333;
	font-size: 15px;
	font-size: 0.9375rem;
}

.post-navigation .nav-next {
	margin-top: 1.5em;
}

.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
	margin-right: 0.5em;
}

.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
	margin-left: 0.5em;
}

/*--------------------------------------------------------------
13.5 Pages
--------------------------------------------------------------*/

.page-header {
	padding-bottom: 2em;
}

.page .entry-header .edit-link {
	font-size: 14px;
	font-size: 0.875rem;
}

.search .page .entry-header .edit-link {
	font-size: 11px;
	font-size: 0.6875rem;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page:not(.home) #content {
	padding-bottom: 1.5em;
}

/* 404 page */

.error404 .page-content {
	padding-bottom: 4em;
}

.error404 .page-content .search-form,
.search .page-content .search-form {
	margin-bottom: 3em;
}

/*--------------------------------------------------------------
13.6 Footer
--------------------------------------------------------------*/

.site-footer {
	border-top: 1px solid #eee;
}

.site-footer .wrap {
	padding-bottom: 1.5em;
	padding-top: 2em;
}

/* Footer widgets */

.site-footer .widget-area {
	padding-bottom: 2em;
	padding-top: 2em;
}

/* Social nav */

.social-navigation {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 1em;
}

.social-navigation ul {
	list-style: none;
	margin-bottom: 0;
	margin-left: 0;
}

.social-navigation li {
	display: inline;
}

.social-navigation a {
	background-color: #767676;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	color: #fff;
	display: inline-block;
	height: 40px;
	margin: 0 1em 0.5em 0;
	text-align: center;
	width: 40px;
}

.social-navigation a:hover,
.social-navigation a:focus {
	background-color: #333;
}

.social-navigation .icon {
	height: 16px;
	top: 12px;
	width: 16px;
	vertical-align: top;
}

/* Site info */

.site-info {
	font-size: 14px;
	font-size: 0.875rem;
	margin-bottom: 1em;
}

.site-info a {
	color: #666;
}

.site-info .sep {
	margin: 0;
	display: block;
	visibility: hidden;
	height: 0;
	width: 100%;
}

.site-info span[role=separator] {
	padding: 0 0.2em 0 0.4em;
}

.site-info span[role=separator]::before {
	content: '\002f';
}

/* Header Menu Mobile */
.mobile-top-navigation {
	height: 200%;
}

.header-navigation-top-mobile {
	background: #ffffff;
	padding: 50px 30px;
	height: 1000%;
	margin-top: 50px;
	width: 0;
	overflow: scroll;
	max-height: 500px;
}

.header-navigation-top-mobile li {
	font-size: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	line-height: 23px;
	list-style: none;
	font-family: "Neusa Bold", sans-serif;
	font-weight: 800;
	padding: 6px 0;
	color: #0053A1;
}

.header-navigation-top-mobile li a {
	padding: 10px;
	color: #0053A1;
	text-transform: uppercase;
}

.header-navigation-top-mobile li a:hover {
	text-decoration: none;
}


/* Header Menu */

.header-navigation-top li a {
	padding: 10px;
	text-transform: uppercase;
}

.header-navigation-top li:hover {
	background: white !important;
	border: 3px solid #00518B;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
	margin-top: -8px;
	padding: 8px 0;
}

.header-navigation-top li:hover a {
	color: #0053A1 !important;
}

.header-navigation-top .menu-item-has-children:after {
	color: #ffffff;
	content: '\f107';
	font-size: 20px;
	margin-left: -13px;
	font-family: "Font Awesome\ 5 Free", sans-serif;
}

.header-navigation-top .menu-item-has-children:hover:after {
	color: #00518B !important;
}

.header-navigation-top .change-color:after {
	color: #00518B !important;
	content: '\f107';
	font-size: 20px;
	margin-left: -13px;
	font-family: "Font Awesome\ 5 Free", sans-serif;
}

.header-navigation-top li:hover ul {
	display: block;
	z-index: 1000;
}

.header-navigation-top li ul {
	display: none;
	position: absolute;
	margin: 5px 0 0;
	margin-left: -3px;
	padding: 0;
	background: #ffffff;
	border: 3px solid #00518B;
	box-sizing: border-box;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
	-moz-transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.header-navigation-top li ul {
	max-width: 400px;
}

.header-navigation-top li ul li {
	width: 100%;
	text-align: left;
}

.header-navigation-top li.menu-item-has-children {
	margin-left: -1px;
	margin-right: 1px;
}

.header-navigation-top li.menu-item-has-children:hover a {
	color: rgb(0, 81, 139) !important;
}

.header-navigation-top li.menu-item-has-children:hover {
	background: white !important;
	border: 3px solid #00518B;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
	margin-top: -8px;
	padding: 2px 0;
	padding-bottom: 8px;
	overflow: hidden;
	/*margin-left: 2px;*/
}

.header-navigation-top li ul li:hover {
	background: #F5F5F5 !important;
	border: 3px solid transparent !important;
	box-shadow: none !important;
	padding: 6px 0 !important;
	margin: 0 !important;
}

.header-navigation-top li ul li:hover a {
	color: #007ed5;
}

.header-navigation-top li ul li a {
	line-height: 33px;
	font-size: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	width: 100%;
}

.header-navigation-top > li > ul:before {
	content: '';
	margin: 0;
	position: absolute;
	width: 100%;
	/*border-top: 3px solid #00518B;*/
	left: 0;
	z-index: 999999;
}

.header-navigation-top > li.menu-item-has-children:hover:before {
	content: '';
	margin: 0;
	position: relative;
	bottom: -32px;
	left: -10px;
	right: -10px;
	height: 9px;
	display: block;
	background: white;
	width: 206%;
	z-index: 99999999;
}

.header-navigation-top > li > ul:after {
	visibility: hidden;
	content: ' ';
	opacity: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 20px;
	margin: -10px 0 0;
	border-bottom: 10px solid #fff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	z-index: 9999;
}

/*--------------------------------------------------------------
14.0 Comments
--------------------------------------------------------------*/

#comments {
	clear: both;
	padding: 2em 0 0.5em;
}

.comments-title {
	font-size: 20px;
	font-size: 1.25rem;
	margin-bottom: 1.5em;
}

.comment-list,
.comment-list .children {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list li:before {
	display: none;
}

.comment-body {
	margin-left: 65px;
}

.comment-author {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 0.4em;
	position: relative;
	z-index: 2;
}

.comment-author .avatar {
	height: 50px;
	left: -65px;
	position: absolute;
	width: 50px;
}

.comment-author .says {
	display: none;
}

.comment-meta {
	margin-bottom: 1.5em;
}

.comment-metadata {
	color: #767676;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	text-transform: uppercase;
}

.comment-metadata a {
	color: #767676;
}

.comment-metadata a.comment-edit-link {
	color: #222;
	margin-left: 1em;
}

.comment-body {
	color: #333;
	font-size: 14px;
	font-size: 0.875rem;
	margin-bottom: 4em;
}

.comment-reply-link {
	font-weight: 800;
	position: relative;
}

.comment-reply-link .icon {
	color: #222;
	left: -2em;
	height: 1em;
	position: absolute;
	top: 0;
	width: 1em;
}

.children .comment-author .avatar {
	height: 30px;
	left: -45px;
	width: 30px;
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 1px solid #333;
	padding: 2px;
}

.no-comments,
.comment-awaiting-moderation {
	color: #767676;
	font-size: 14px;
	font-size: 0.875rem;
	font-style: italic;
}

.comments-pagination {
	margin: 2em 0 3em;
}

.form-submit {
	text-align: right;
}

.comment-form #wp-comment-cookies-consent {
	margin: 0 10px 0 0;
}

.comment-form .comment-form-cookies-consent label {
	display: inline;
}

#secondary {
	padding: 1em 0 2em;
}

/* Search */

.search-form {
	position: relative;
	width: 400px;
}

.search-icon svg path {
	fill: rgb(0, 81, 139);
}

#svg-search-icon:hover {
	cursor: pointer;
}

.icon-search-container {
	display: none;
	position: absolute;
	top: -10px;
}

.icon-search-container-mobile {
	display: block;
	position: relative;
	top: 10px;
}

.search-mobile-2 {
	display: none;
	top: 150px;
	position: absolute;
	left: 40px;
	z-index: 9999999;
}

.search-form .search-submit {
	bottom: 3px;
	padding: 0.5em 1em;
	position: absolute;
	right: 3px;
	top: 3px;
	background: transparent;
}

.search-form .search-submit .icon {
	height: 24px;
	top: -2px;
	width: 24px;
}

/* Tag cloud widget */

.tagcloud ul li {
	float: left;
	border-top: 0;
	border-bottom: 0;
	padding: 0;
	margin: 4px 4px 0 0;
}

.tagcloud,
.widget_tag_cloud,
.wp_widget_tag_cloud {
	line-height: 1.5;
}

.widget .tagcloud a,
.widget.widget_tag_cloud a,
.wp_widget_tag_cloud a {
	border: 1px solid #ddd;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: block;
	padding: 4px 10px 5px;
	position: relative;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	width: auto;
	word-wrap: break-word;
	z-index: 0;
}

.widget .tagcloud a:hover,
.widget .tagcloud a:focus,
.widget.widget_tag_cloud a:hover,
.widget.widget_tag_cloud a:focus,
.wp_widget_tag_cloud a:hover,
.wp_widget_tag_cloud a:focus {
	border-color: #bbb;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
}

/* Calendar widget */

.widget_calendar th,
.widget_calendar td {
	text-align: center;
}

.widget_calendar tfoot td {
	border: 0;
}

/* Gallery widget */

.gallery-columns-5 .gallery-caption,
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/*--------------------------------------------------------------
16.0 Media
--------------------------------------------------------------*/

img,
video {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

img.alignleft,
img.alignright {
	float: none;
	margin: 0;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	margin-bottom: 1.5em;
	max-width: 100%;
}

/* Remove bottom on embeds that wrapped in paragraphs via wpautop. */

p > embed:only-child,
p > iframe:only-child,
p > object:only-child {
	margin-bottom: 0;
}

.wp-caption,
.gallery-caption {
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/* Media Elements */

.mejs-container {
	margin-bottom: 1.5em;
}

/* Audio Player */

.mejs-controls a.mejs-horizontal-volume-slider,
.mejs-controls a.mejs-horizontal-volume-slider:focus,
.mejs-controls a.mejs-horizontal-volume-slider:hover {
	background: transparent;
	border: 0;
}

/* Playlist Color Overrides: Light */

.site-content .wp-playlist-light {
	border-color: #eee;
	color: #222;
}

.site-content .wp-playlist-light .wp-playlist-current-item .wp-playlist-item-album {
	color: #333;
}

.site-content .wp-playlist-light .wp-playlist-current-item .wp-playlist-item-artist {
	color: #767676;
}

.site-content .wp-playlist-light .wp-playlist-item {
	border-bottom: 1px dotted #eee;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.site-content .wp-playlist-light .wp-playlist-item:hover,
.site-content .wp-playlist-light .wp-playlist-item:focus {
	border-bottom-color: rgba(0, 0, 0, 0);
	background-color: #767676;
	color: #fff;
}

.site-content .wp-playlist-light a.wp-playlist-caption:hover,
.site-content .wp-playlist-light .wp-playlist-item:hover a,
.site-content .wp-playlist-light .wp-playlist-item:focus a {
	color: #fff;
}

/* Playlist Color Overrides: Dark */

.site-content .wp-playlist-dark {
	background: #222;
	border-color: #333;
}

.site-content .wp-playlist-dark .mejs-container .mejs-controls {
	background-color: #333;
}

.site-content .wp-playlist-dark .wp-playlist-caption {
	color: #fff;
}

.site-content .wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-album {
	color: #eee;
}

.site-content .wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-artist {
	color: #aaa;
}

.site-content .wp-playlist-dark .wp-playlist-playing {
	background-color: #333;
}

.site-content .wp-playlist-dark .wp-playlist-item {
	border-bottom: 1px dotted #555;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.site-content .wp-playlist-dark .wp-playlist-item:hover,
.site-content .wp-playlist-dark .wp-playlist-item:focus {
	border-bottom-color: rgba(0, 0, 0, 0);
	background-color: #aaa;
	color: #222;
}

.site-content .wp-playlist-dark a.wp-playlist-caption:hover,
.site-content .wp-playlist-dark .wp-playlist-item:hover a,
.site-content .wp-playlist-dark .wp-playlist-item:focus a {
	color: #222;
}

/* Playlist Style Overrides */

.site-content .wp-playlist {
	padding: 0.625em 0.625em 0.3125em;
}

.site-content .wp-playlist-current-item .wp-playlist-item-title {
	font-weight: 700;
}

.site-content .wp-playlist-current-item .wp-playlist-item-album {
	font-style: normal;
}

.site-content .wp-playlist-current-item .wp-playlist-item-artist {
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 800;
	letter-spacing: 0.1818em;
	text-transform: uppercase;
}

.site-content .wp-playlist-item {
	padding: 0 0.3125em;
	cursor: pointer;
}

.site-content .wp-playlist-item:last-of-type {
	border-bottom: none;
}

.site-content .wp-playlist-item a {
	padding: 0.3125em 0;
	border-bottom: none;
}

.site-content .wp-playlist-item a,
.site-content .wp-playlist-item a:focus,
.site-content .wp-playlist-item a:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent;
}

.site-content .wp-playlist-item-length {
	top: 5px;
}

/* SVG Icons base styles */

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625em;
	vertical-align: middle;
	width: 1em;
}

/*--------------------------------------------------------------
16.1 Galleries
--------------------------------------------------------------*/

.gallery-item {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0 0 1.5em;
	padding: 0 1em 0 0;
	width: 50%;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus,
.widget-area .gallery-item a,
.widget-area .gallery-item a:hover,
.widget-area .gallery-item a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	display: inline-block;
	max-width: 100%;
}

.gallery-item a img {
	display: block;
	-webkit-transition: -webkit-filter 0.2s ease-in;
	transition: -webkit-filter 0.2s ease-in;
	transition: filter 0.2s ease-in;
	transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
	-webkit-filter: opacity(60%);
	filter: opacity(60%);
}

.gallery-caption {
	display: block;
	text-align: left;
	padding: 0 10px 0 0;
	margin-bottom: 0;
}

/*--------------------------------------------------------------
18.0 SVGs Fallbacks
--------------------------------------------------------------*/

.svg-fallback {
	display: none;
}

.no-svg .svg-fallback {
	display: inline-block;
}

.no-svg .dropdown-toggle {
	padding: 0.5em 0 0;
	right: 0;
	text-align: center;
	width: 2em;
}

.no-svg .dropdown-toggle .svg-fallback.icon-angle-down {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1;
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	-ms-transform: rotate(180deg); /* IE 9 */
	transform: rotate(180deg);
}

.no-svg .dropdown-toggle.toggled-on .svg-fallback.icon-angle-down {
	-webkit-transform: rotate(0); /* Chrome, Safari, Opera */
	-ms-transform: rotate(0); /* IE 9 */
	transform: rotate(0);
}

.no-svg .dropdown-toggle .svg-fallback.icon-angle-down:before {
	content: "\005E";
}

/* Social Menu fallbacks */

.no-svg .social-navigation a {
	background: transparent;
	color: #222;
	height: auto;
	width: auto;
}

/* Show screen reader text in some cases */

.no-svg .next.page-numbers .screen-reader-text,
.no-svg .prev.page-numbers .screen-reader-text,
.no-svg .social-navigation li a .screen-reader-text,
.no-svg .search-submit .screen-reader-text {
	clip: auto;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important; /* overrides previous !important styles */
	width: auto;
}

/*--------------------------------------------------------------
19.0 Media Queries
--------------------------------------------------------------*/

/* Adjust positioning of edit shortcuts, override style in customize-preview.css */
@media screen and (min-width: 20em) {

	body.customize-partial-edit-shortcuts-shown .site-header .site-title {
		padding-left: 0;
	}
}

@media screen and (min-width: 30em) {

	/* Typography */

	body,
	button,
	input,
	select,
	textarea {
		font-size: 18px;
		font-size: 1.125rem;
	}

	h1 {
		font-size: 30px;
		font-size: 1.875rem;
	}

	h2,
	.home.blog .entry-title,
	.page .panel-content .recent-posts .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	h3 {
		font-size: 22px;
		font-size: 1.375rem;
	}

	h4 {
		font-size: 18px;
		font-size: 1.125rem;
	}

	h5 {
		font-size: 13px;
		font-size: 0.8125rem;
	}

	h6 {
		font-size: 16px;
		font-size: 1rem;
	}

	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		font-size: 14px;
		font-size: 0.875rem;
	}

	/* Fix image alignment */
	img.alignleft {
		float: left;
		margin-right: 1.5em;
	}

	img.alignright {
		float: right;
		margin-left: 1.5em;
	}

	/* Site Branding */

	.site-branding {
		padding: 3em 0;
	}

	/* Front Page */

	.panel-content .wrap {
		padding-bottom: 2em;
		padding-top: 3.5em;
	}

	.page-one-column .panel-content .wrap {
		max-width: 740px;
	}

	.panel-content .entry-header {
		margin-bottom: 4.5em;
	}

	.panel-content .recent-posts .entry-header {
		margin-bottom: 0;
	}

	/* Blog Index, Archive, Search */

	.taxonomy-description {
		font-size: 14px;
		font-size: 0.875rem;
	}

	.page-numbers.current {
		font-size: 16px;
		font-size: 1rem;
	}

	/* Site Footer */

	.site-footer {
		font-size: 16px;
		font-size: 1rem;
	}

	/* Gallery Columns */

	.gallery-item {
		max-width: 25%;
	}

	.gallery-columns-1 .gallery-item {
		max-width: 100%;
	}

	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}

	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}

	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}
}

@media screen and (min-width: 48em) {

	/* Typography */

	body,
	button,
	input,
	select,
	textarea {
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.5;
	}

	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		font-size: 13px;
		font-size: 0.8125rem;
	}

	/* Layout */

	.wrap {
		max-width: 1000px;
		padding-left: 3em;
		padding-right: 3em;
	}

	.has-sidebar:not(.error404) #primary {
		float: left;
		width: 58%;
	}

	.has-sidebar #secondary {
		float: right;
		padding-top: 0;
		width: 36%;
	}

	.error404 #primary {
		float: none;
	}

	/* Site Branding */

	.site-branding {
		margin-bottom: 0;
	}

	.has-header-image.twentyseventeen-front-page .site-branding,
	.has-header-video.twentyseventeen-front-page .site-branding,
	.has-header-image.home.blog .site-branding,
	.has-header-video.home.blog .site-branding {
		bottom: 0;
		display: block;
		left: 0;
		height: auto;
		padding-top: 0;
		position: absolute;
		width: 100%;
	}

	.has-header-image.twentyseventeen-front-page .custom-header,
	.has-header-video.twentyseventeen-front-page .custom-header,
	.has-header-image.home.blog .custom-header,
	.has-header-video.home.blog .custom-header {
		display: block;
		height: auto;
	}

	.custom-header-media {
		height: 165px;
		position: relative;
	}

	.twentyseventeen-front-page.has-header-image .custom-header-media,
	.twentyseventeen-front-page.has-header-video .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.home.blog.has-header-video .custom-header-media {
		height: 0;
		position: relative;
	}

	.has-header-image:not(.twentyseventeen-front-page):not(.home) .custom-header-media,
	.has-header-video:not(.twentyseventeen-front-page):not(.home) .custom-header-media {
		bottom: 0;
		height: auto;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.custom-logo-link {
		padding-right: 2em;
	}

	.custom-logo-link img,
	body.home.title-tagline-hidden.has-header-image .custom-logo-link img,
	body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
		max-width: 350px;
	}

	.title-tagline-hidden.home.has-header-image .custom-logo-link img,
	.title-tagline-hidden.home.has-header-video .custom-logo-link img {
		max-height: 200px;
	}

	.site-title {
		font-size: 36px;
		font-size: 2.25rem;
	}

	.site-description {
		font-size: 16px;
		font-size: 1rem;
	}

	/* Navigation */

	.navigation-top {
		bottom: 0;
		font-size: 14px;
		font-size: 0.875rem;
		left: 0;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 3;
	}

	.navigation-top .wrap {
		max-width: 1000px;
		/* The font size is 14px here and we need 50px padding in ems */
		padding: 0.75em 3.4166666666667em;
	}

	.navigation-top nav {
		margin-left: -1.25em;
	}

	.site-navigation-fixed.navigation-top {
		bottom: auto;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 7;
	}

	.admin-bar .site-navigation-fixed.navigation-top {
		top: 32px;
	}

	/* Main Navigation */

	.js .menu-toggle,
	.js .dropdown-toggle {
		display: none;
	}

	.main-navigation {
		width: auto;
	}

	.js .main-navigation ul,
	.js .main-navigation ul ul,
	.js .main-navigation > div > ul {
		display: block;
	}

	.main-navigation ul {
		background: transparent;
		padding: 0;
	}

	.main-navigation > div > ul {
		border: 0;
		margin-bottom: 0;
		padding: 0;
	}

	.main-navigation li {
		border: 0;
		display: inline-block;
	}

	.main-navigation li li {
		display: block;
	}

	.main-navigation a {
		padding: 1em 1.25em;
	}

	.main-navigation ul ul {
		background: #fff;
		border: 1px solid #bbb;
		left: -999em;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 99999;
	}

	.main-navigation ul li.menu-item-has-children:before,
	.main-navigation ul li.menu-item-has-children:after,
	.main-navigation ul li.page_item_has_children:before,
	.main-navigation ul li.page_item_has_children:after {
		border-style: solid;
		border-width: 0 6px 6px;
		content: "";
		display: none;
		height: 0;
		position: absolute;
		right: 1em;
		bottom: -1px;
		width: 0;
		z-index: 100000;
	}

	.main-navigation ul li.menu-item-has-children.focus:before,
	.main-navigation ul li.menu-item-has-children:hover:before,
	.main-navigation ul li.menu-item-has-children.focus:after,
	.main-navigation ul li.menu-item-has-children:hover:after,
	.main-navigation ul li.page_item_has_children.focus:before,
	.main-navigation ul li.page_item_has_children:hover:before,
	.main-navigation ul li.page_item_has_children.focus:after,
	.main-navigation ul li.page_item_has_children:hover:after {
		display: block;
	}

	.main-navigation ul li.menu-item-has-children:before,
	.main-navigation ul li.page_item_has_children:before {
		border-color: transparent transparent #bbb;
		bottom: 0;
	}

	.main-navigation ul li.menu-item-has-children:after,
	.main-navigation ul li.page_item_has_children:after {
		border-color: transparent transparent #fff;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		right: auto;
	}

	.main-navigation ul ul a {
		padding: 0.75em 1.25em;
		width: 16em;
	}

	.main-navigation li li {
		-webkit-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
	}

	.main-navigation li li:hover,
	.main-navigation li li.focus {
		background: #767676;
	}

	.main-navigation li li a {
		-webkit-transition: color 0.3s ease-in-out;
		transition: color 0.3s ease-in-out;
	}

	.main-navigation li li.focus > a,
	.main-navigation li li:focus > a,
	.main-navigation li li:hover > a,
	.main-navigation li li a:hover,
	.main-navigation li li a:focus,
	.main-navigation li li.current_page_item a:hover,
	.main-navigation li li.current-menu-item a:hover,
	.main-navigation li li.current_page_item a:focus,
	.main-navigation li li.current-menu-item a:focus {
		color: #fff;
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: 0.5em;
		right: auto;
	}

	.main-navigation .menu-item-has-children > a > .icon,
	.main-navigation .page_item_has_children > a > .icon {
		display: inline;
		left: 5px;
		position: relative;
		top: -1px;
	}

	.main-navigation ul ul .menu-item-has-children > a > .icon,
	.main-navigation ul ul .page_item_has_children > a > .icon {
		margin-top: -9px;
		left: auto;
		position: absolute;
		right: 1em;
		top: 50%;
		-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
		-ms-transform: rotate(-90deg); /* IE 9 */
		transform: rotate(-90deg);
	}

	.main-navigation ul ul ul {
		left: -999em;
		margin-top: -1px;
		top: 0;
	}

	.main-navigation ul ul li.menu-item-has-children.focus:before,
	.main-navigation ul ul li.menu-item-has-children:hover:before,
	.main-navigation ul ul li.menu-item-has-children.focus:after,
	.main-navigation ul ul li.menu-item-has-children:hover:after,
	.main-navigation ul ul li.page_item_has_children.focus:before,
	.main-navigation ul ul li.page_item_has_children:hover:before,
	.main-navigation ul ul li.page_item_has_children.focus:after,
	.main-navigation ul ul li.page_item_has_children:hover:after {
		display: none;
	}

	.site-header .site-navigation-fixed .menu-scroll-down {
		display: none;
	}

	/* Scroll down arrow */

	.site-header .menu-scroll-down {
		display: block;
		padding: 1em;
		position: absolute;
		right: 0;
	}

	.site-header .menu-scroll-down .icon {
		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		-ms-transform: rotate(90deg); /* IE 9 */
		transform: rotate(90deg);
	}

	.site-header .menu-scroll-down {
		color: #fff;
		top: 2em;
	}

	.site-header .navigation-top .menu-scroll-down {
		color: #767676;
		top: 0.7em;
	}

	.menu-scroll-down:focus {
		outline: thin dotted;
	}

	.menu-scroll-down .icon {
		height: 18px;
		width: 18px;
	}

	/* Front Page */

	.twentyseventeen-front-page.has-header-image .site-branding,
	.twentyseventeen-front-page.has-header-video .site-branding,
	.home.blog.has-header-image .site-branding,
	.home.blog.has-header-video .site-branding {
		margin-bottom: 70px;
	}

	.twentyseventeen-front-page.has-header-image .custom-header-media,
	.twentyseventeen-front-page.has-header-video .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.home.blog.has-header-video .custom-header-media {
		height: 1200px;
		height: 100vh;
		max-height: 100%;
		overflow: hidden;
	}

	.twentyseventeen-front-page.has-header-image .custom-header-media:before,
	.twentyseventeen-front-page.has-header-video .custom-header-media:before,
	.home.blog.has-header-image .custom-header-media:before,
	.home.blog.has-header-video .custom-header-media:before {
		height: 33%;
	}

	.admin-bar.twentyseventeen-front-page.has-header-image .custom-header-media,
	.admin-bar.twentyseventeen-front-page.has-header-video .custom-header-media,
	.admin-bar.home.blog.has-header-image .custom-header-media,
	.admin-bar.home.blog.has-header-video .custom-header-media {
		height: calc(100vh - 32px);
	}

	.panel-content .wrap {
		padding-bottom: 4.5em;
		padding-top: 6em;
	}

	.panel-image {
		height: 100vh;
		max-height: 1200px;
	}

	/* With panel images 100% of the screen height, we're going to fix the background image where supported to create a parallax-like effect. */
	.background-fixed .panel-image {
		background-attachment: fixed;
	}

	.page-two-column .panel-content .entry-header {
		float: left;
		width: 36%;
	}

	.page-two-column .panel-content .entry-content {
		float: right;
		width: 58%;
	}

	/* Front Page - Recent Posts */

	.page-two-column .panel-content .recent-posts {
		clear: right;
		float: right;
		width: 58%;
	}

	.panel-content .recent-posts article {
		margin-bottom: 4em;
	}

	.panel-content .recent-posts .entry-header,
	.page-two-column #primary .panel-content .recent-posts .entry-header,
	.panel-content .recent-posts .entry-content,
	.page-two-column #primary .panel-content .recent-posts .entry-content {
		float: none;
		width: 100%;
	}

	.panel-content .recent-posts .entry-header {
		margin-bottom: 1.5em;
	}

	.page .panel-content .recent-posts .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	/* Posts */

	.site-content {
		padding: 5.5em 0 0;
	}

	.single-post .entry-title,
	.page .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	.comments-pagination,
	.post-navigation {
		clear: both;
	}

	.post-navigation .nav-previous {
		float: left;
		width: 50%;
	}

	.post-navigation .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

	.nav-next,
	.post-navigation .nav-next {
		margin-top: 0;
	}

	/* Blog, archive, search */

	.sticky .icon-thumb-tack {
		height: 23px;
		left: -2.5em;
		top: 1.5em;
		width: 32px;
	}

	body:not(.has-sidebar):not(.page-one-column) .page-header,
	body.has-sidebar.error404 #primary .page-header,
	body.page-two-column:not(.archive) #primary .entry-header,
	body.page-two-column.archive:not(.has-sidebar) #primary .page-header {
		float: left;
		width: 36%;
	}

	.blog:not(.has-sidebar) #primary article,
	.archive:not(.page-one-column):not(.has-sidebar) #primary article,
	.search:not(.has-sidebar) #primary article,
	.error404:not(.has-sidebar) #primary .page-content,
	.error404.has-sidebar #primary .page-content,
	body.page-two-column:not(.archive) #primary .entry-content,
	body.page-two-column #comments {
		float: right;
		width: 58%;
	}

	.blog .site-main > article,
	.archive .site-main > article,
	.search .site-main > article {
		padding-bottom: 4em;
	}

	.navigation.pagination {
		clear: both;
		float: right;
		width: 58%;
	}

	.has-sidebar .navigation.pagination,
	.archive.page-one-column:not(.has-sidebar) .navigation.pagination {
		float: none;
		width: 100%;
	}

	.entry-footer {
		display: table;
		width: 100%;
	}

	.entry-footer .cat-tags-links {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}

	.entry-footer .edit-link {
		display: table-cell;
		text-align: right;
		vertical-align: middle;
	}

	.entry-footer .edit-link a.post-edit-link {
		margin-top: 0;
		margin-left: 1em;
	}

	/* Entry content */

	/* without sidebar */

	:not(.has-sidebar) .entry-content blockquote.alignleft {
		margin-left: -17.5%;
		width: 48%;
	}

	:not(.has-sidebar) .entry-content blockquote.alignright {
		margin-right: -17.5%;
		width: 48%;
	}

	/* with sidebar */

	.has-sidebar .entry-content blockquote.alignleft {
		margin-left: 0;
		width: 34%;
	}

	.has-sidebar .entry-content blockquote.alignright {
		margin-right: 0;
		width: 34%;
	}

	.has-sidebar #primary .entry-content blockquote.alignright.below-entry-meta {
		margin-right: -72.5%;
		width: 62%;
	}

	/* blog and archive */

	.blog:not(.has-sidebar) .entry-content blockquote.alignleft,
	.twentyseventeen-front-page.page-two-column .entry-content blockquote.alignleft,
	.archive:not(.has-sidebar) .entry-content blockquote.alignleft,
	.page-two-column .entry-content blockquote.alignleft {
		margin-left: -72.5%;
		width: 62%;
	}

	.blog:not(.has-sidebar) .entry-content blockquote.alignright,
	.twentyseventeen-front-page.page-two-column .entry-content blockquote.alignright,
	.archive:not(.has-sidebar) .entry-content blockquote.alignright,
	.page-two-column .entry-content blockquote.alignright {
		margin-right: 0;
		width: 36%;
	}

	/* Post formats */

	.format-quote blockquote .icon {
		left: -1.5em;
	}

	/* Pages */

	.page.page-one-column .entry-header,
	.twentyseventeen-front-page.page-one-column .entry-header,
	.archive.page-one-column:not(.has-sidebar) .page-header {
		margin-bottom: 4em;
	}

	.page:not(.home) #content {
		padding-bottom: 3.25em;
	}

	/* 404 page */

	.error404 .page-content {
		padding-bottom: 9em;
	}

	/* Comments */

	#comments {
		padding-top: 5em;
	}

	.comments-title {
		margin-bottom: 2.5em;
	}

	ol.children .children {
		padding-left: 2em;
	}

	/* Posts pagination */

	.nav-links .nav-title {
		position: relative;
	}

	.nav-title-icon-wrapper {
		position: absolute;
		text-align: center;
		width: 2em;
	}

	.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
		left: -2em;
	}

	.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
		right: -2em;
	}

	/* Secondary */

	#secondary {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 1.6;
	}

	/* Footer */

	.social-navigation {
		clear: left;
		float: left;
		margin-bottom: 0;
		width: 36%;
	}

	.site-info {
		float: left;
		padding: 0.7em 0 0;
		width: 58%;
	}

	.social-navigation + .site-info {
		margin-left: 6%;
	}
}

@media screen and ( min-width: 67em ) {

	/* Pagination */

	.page-numbers {
		display: inline-block;
	}

	.page-numbers.current {
		font-size: 15px;
		font-size: 0.9375rem;
	}

	.page-numbers.current .screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		overflow: hidden;
		position: absolute !important;
		width: 1px;
	}
}

@media screen and ( max-width: 48.875em ) and ( min-width: 48em ) {

	.admin-bar .site-navigation-fixed.navigation-top,
	.admin-bar .site-navigation-hidden.navigation-top {
		top: 46px;
	}
}