
@media screen and (max-width: 2300px) {
    .scroll-indicator {
        display: none;
    }
}

@media screen and (max-width: 1850px) {
    .row-part-right {
        width: 25% !important;
    }
}

@media screen and (max-width: 1526px) {
    .row-part-left {
        width: 100% !important;
    }
    .row-part-right {
        width: 100% !important;
        position: relative !important;
    }
    .row-part-top {
        width: 102%;
    }
    .row-part-bottom {
        width: 102%;
        border: 0;
    }
    .destination-klaipeda-container {
        width: 99%;
    }
    .destination-smiltyne-container {
        width: 99%;
    }
    .destination-direction-container {
        width: 99%;
    }
    .destination-schedule-container {
        min-width: 300px;
        border: 0;
    }
    .destination-costs-container {
        min-width: 300px;
        border: 0;
    }
    .destination-info-container {
    }
    .destination-container {
        height: 100%;
    }
    #destination-map {
        width: 100%;
        height: 355px;
        margin-top: 25px;
    }
    .banner-content {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1522px) {
    .row-top-footer-part {
        width: 80%;
        margin: auto !important;
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }
    .bottom-footer .row {
        margin: 0 !important;
        padding: 0 25px !important;
    }
    .news-container-block {
        padding: 0 40px;
    }
    .warn-info-container {
        max-width: none;
        padding: 0 50px;
    }
    .header-logo {
        width: 210px;
    }
}

@media screen and (max-width: 1450px) {
    .front-news-container {
        width: 100%;
    }
    .mobile-app-container {
        width: 100%;
        padding: 0;
        margin-left: 0 !important;
        margin-top: 75px;
    }
    .mobile-application-title {
        width: 100%;
    }
    .page-image-title-container {
        margin-top: 380px;
    }
    .inside-page {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .tab-active::after {
        content: none;
    }
    .schedule-navigation-tab {
        min-width: 25% !important;
    }
    .header-logo {
        width: 140px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0;
    }
    .social-icon {
        margin-left: 15px;
    }
}

@media screen and (max-width: 1315px) {
    .header-logo {
        width: auto;
        margin-left: 20px;
        margin-right: 50px;
    }
    .post-date {
        width: 100%;
        position: relative;
        right: 0;
        text-align: left;
        margin: 0;
    }
    .warn-info-container p {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 1253px) {
    .page-image-title-container {
        margin-top: 250px;
    }
}

@media screen and (max-width: 1240px) {
    .main-menu-container {
        display: none;
    }
    .weather-container {
        margin-top: 24px;
        display: none;
    }
    .extra-info {
        display: none;
    }
    .extra-info-mobile {
        display: block !important;
        float: right;
    }
}

@media screen and (max-width: 1240px) {
    .menu-main-mobile {
        display: block;
    }
}

@media screen and (max-width: 1190px) {
    .logo-container-block {
        margin-top: -20px;
    }
    .extra-info {
        display: none;
    }
    .extra-info-mobile {
        display: block !important;
        float: right;
    }
    .weather-container {
        margin-top: 24px;
        display: none;
    }
    .icon-menu {
        margin-top: 24px;
    }
    .footer-box {
        padding: 10px 10px !important;
    }
    .report-button-container {
        padding: 10px 10px !important;
    }
    .row-top-footer-part {
        width: 100%;
        margin: auto !important;
        justify-content: inherit;
        -webkit-justify-content: inherit;
    }
}

@media screen and (max-width: 1000px) {
    .top-menu-container {
        max-width: 80%;
    }
    .shadow-header {
        height: 200px;
    }
    .page-image-title-container {
        margin-top: 30%;
    }
    .page-image-title {
        font-size: 70px;
    }
    .mobile-app-text {
        width: 100%;
    }
    .destination-schedule-container {
        border: 0;
    }
    .destination-costs-container {
        border: 0;
    }
    .destination-klaipeda-container {
        padding: 5px 10px 0 40px;
    }
    .destination-smiltyne-container {
        padding: 5px 10px 0 40px;
    }
    .destination-direction-container {
        padding: 10px 10px 0 40px;
    }
    .phone-svg img {
        width: 90px;
        float: right;
    }
    .mobile-app-container {
        margin-top: 25px;
    }
    .banner-main-image {
        margin-top: -135px;
    }
    .table-container table {
        width: 100% !important;
    }
    .ferry-info-footer {
        padding-top: 20px !important;
    }
    .bottom-footer {
        padding-left: 0;
    }
    .schedule-navigation-tab {
        min-width: 100% !important;
    }
}
@media screen and (max-width: 990px) {
    .warn-info-container p {
        font-size: 9px !important;
        text-align: left !important;
        line-height: 2;
        width: 90%;
    }
    .warn-info-container .read-more {
        font-size: 10px;
    }
    .schedule-info {
        display: none !important;
    }
    .schedule-info-mobile {
        display: block;
    }
    .mobile-hidden-info {
        display: none;
    }
    .bottom-footer  {
        padding-top: 10px;
    }
    .top-footer {
        padding-bottom: 10px;
    }
    .checkbox-container {
        margin: 0;
    }
    .destination-title {
        margin-bottom: 0;
    }
    .big-title {
        margin-top: 30px;
    }
    .schedule-top {
        margin-top: 0;
        padding: 0;
    }
    .schedule-bottom {
        margin-top: 0;
    }
    .schedule-time {
        margin: 0;
    }
}

@media screen and (max-width: 915px) {
    .destination-costs-container {
        padding-top: 40px;
        height: auto;
        padding-bottom: 20px;
    }
    .destination-schedule-container {
        height: auto;
        padding: 5px 10px 40px 40px;
    }
    .destination-info-container {
        padding-top: 10px;
    }
    .schedule-navigation-tab {
        min-width: 100%;
    }
    .schedule-navigation-button {
        width: 100% !important;
    }
    .week-days-tabs-container {
        margin: 0;
    }
    .tab-active::after {
        display: none;
    }
    .header-logo {
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .slideshow-container {
        margin-top: 0px;
    }
    .news-container-title{
        padding: 0 !important;
    }
}

@media screen and (max-width: 760px) {
    .top-menu-container {
        display: none;
    }
    .top-menu-row {
        float: right;
    }
    .header-logo svg {
        height: 100px;
    }
    .shadow-header {
        height: 130px;
    }
    .page-image-title {
        font-size: 46px;
        line-height: 1;
    }
    .all-news-link {
        padding-left: 0;
        margin-top: 15px;
    }
    .header-container-fixed {
        padding-bottom: 30px;
    }
    .banner-text {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        position: relative;
    }
    .banner-slogan {
        line-height: 1;
        width: 100%;
        font-size: 48px !important;
        margin-top: 0;
    }
    .extra-info-mobile-2 {
        display: block;
    }
    .search-mobile-2 {
        display: block;
    }
    .top-menu-mobile-2 {
        display: block;
    }
    .header-navigation-top-mobile {
        padding-top: 180px;
    }
    .header-logo {
        margin-left: 0;
        margin-right: 0;
    }
    .phone-svg img {
        display: none;
    }
    .news-container-title {
        justify-content: center;
    }
    .front-news-row {
        justify-content: center;
    }
    .header-logo {
        margin-left: -40px;
    }
    .social-icon {
        padding: 25px 0;
        margin-left: 0;
    }
    .destination-costs-row {
        border-top: 3px solid #EDF8FF;
    }
    .destination-schedule-row {
        margin-bottom: 40px;
    }
    .destination-costs-container {
        padding-top: 20px;
    }
    .see-more-link {
        background: #FFED00;
    }
    .contact-block {
        margin: auto;
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .banner-main-image {
        margin-top: -135px;
    }
    .destination-costs p {
        line-height: 1;
    }
    .destination-costs {
        padding-bottom: 10px;
    }
    .warn-info-block {
        /*display: none;*/
    }
}

@media screen and (max-width: 550px) {
    .row-top-footer-part {
        justify-content: unset;
        margin-left: 0 !important;
    }
    .slideshow-container {
        margin-top: 100px;
    }
    .page-image-title-container {
        margin-top: 10%;
    }
    .page-image-title {
        font-size: 36px;
    }
    .destination-direction {
        width: 275px;
    }
    .ferry-info {
        width: 250px;
    }
    .inside-page {
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-top: 0 !important;
    }
    .big-title {
        font-size: 52px;
    }
    .search-page-form {
        width: 100%;
    }
    .header-image {
        margin-top: 123px !important;
        background-position-x: -1000px !important;
    }
}

@media screen and (max-width: 480px) {
    .search-mobile-2 input {
        width: 60%;
    }
    .social-icon {
        margin-left: 0;
    }
    .contact-block {
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width: 380px) {
    .news-title {
        max-width: 180px;
    }
    .big-title {
        font-size: 52px;
        line-height: 1.2;
    }
    .mid-title {
        font-size: 26px;
        line-height: 1.2;
    }
    .sm-title {
        line-height: 1.5;
    }
}