@font-face {
    font-family: "Effra Medium";
    src: url("Effra-Medium.woff") format('woff');
}

@font-face {
    font-family: "Effra Light";
    src: url('EffraLight.eot');
    src: url('EffraLight.eot?#iefix') format('embedded-opentype'),
    url('EffraLight.woff2') format('woff2'),
    url('EffraLight.woff') format('woff'),
    url('EffraLight.ttf') format('truetype'),
    url('EffraLight.otf') format('opentype'),
    url('EffraLight.svg') format('svg');
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Neusa Bold";
    src: url('Neusa-Bold.eot');
    src: url('Neusa-Bold.eot?#iefix') format('embedded-opentype'),
    url('Neusa-Bold.woff2') format('woff2'),
    url('Neusa-Bold.woff') format('woff'),
    url('Neusa-Bold.ttf') format('truetype'),
    url('Neusa-Bold.otf') format('opentype'),
    url('Neusa-Bold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}

/*@font-face {*/
/*font-family: "Future New Cond";*/
/*url('Futura/FuturaNewCondExtraBoldReg.otf') format('opentype'),*/
/*src: url('Futura/FuturaNewCondExtraBoldReg.eot');*/
/*src: url('Futura/FuturaNewCondExtraBoldReg.eot?#iefix') format('embedded-opentype'),*/
/*url('Futura/FuturaNewCondExtraBoldReg.woff2') format('woff2'),*/
/*url('Futura/FuturaNewCondExtraBoldReg.woff') format('woff'),*/
/*url('Futura/FuturaNewCondExtraBoldReg.ttf') format('truetype'),*/
/*url('Futura/FuturaNewCondExtraBoldReg.otf') format('opentype'),*/
/*url('Futura/FuturaNewCondExtraBoldReg.svg') format('svg');*/
/*font-weight: 800;*/
/*font-style: normal;*/
/*font-stretch: normal;*/
/*}*/

/*@font-face {*/
/*font-family: "Future New Cond";*/
/*url('Futura/FuturaNewCondMediumObl.otf') format('opentype'),*/
/*src: url('Futura/FuturaNewCondMediumObl.eot');*/
/*src: url('Futura/FuturaNewCondMediumObl.eot?#iefix') format('embedded-opentype'),*/
/*url('Futura/FuturaNewCondMediumObl.woff2') format('woff2'),*/
/*url('Futura/FuturaNewCondMediumObl.woff') format('woff'),*/
/*url('Futura/FuturaNewCondMediumObl.ttf') format('truetype'),*/
/*url('Futura/FuturaNewCondMediumObl.otf') format('opentype'),*/
/*url('Futura/FuturaNewCondMediumObl.svg') format('svg');*/
/*font-weight: 400;*/
/*font-style: normal;*/
/*font-stretch: normal;*/
/*}*/

@font-face {
    font-family: "Future New Cond";
url('Futura/FuturaNewCondBookReg.otf') format('opentype'),
src: url('Futura/FuturaNewCondBookReg.eot');
    src: url('Futura/FuturaNewCondBookReg.eot?#iefix') format('embedded-opentype'),
    url('Futura/FuturaNewCondBookReg.woff2') format('woff2'),
    url('Futura/FuturaNewCondBookReg.woff') format('woff'),
    url('Futura/FuturaNewCondBookReg.ttf') format('truetype'),
    url('Futura/FuturaNewCondBookReg.otf') format('opentype'),
    url('Futura/FuturaNewCondBookReg.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
